body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 150px auto 80px;
    grid-template-areas: "header" "main" "footer";

    justify-items: center;
    align-items: center;

    margin: 15px 50px;
    
	font-size: 12px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    width: 750px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header button {
    /* position: relative; */
    width: 180px;
    height: 60px;
    padding: 15px 10px;
}

button a {
	text-decoration: none;
    color: black;
}

main {
    grid-area: main;
    width: 750px;
}

body footer {
    grid-area: footer;
}