* {
    /*font-family: Helvetica, sans-serif;*/
}

html {
    height: 100%;
    width: 100%;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10rem auto 5rem;
    grid-template-areas: "nav" "infromation" "footer";

    justify-items: center;
    align-items: center;

    margin: 15px 50px;
    
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    grid-area: nav;
    width: 50rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav button {
    width: 15rem;
    height: 4rem;

    padding: 0.3rem;

    color: #2c6460;
    font-weight: bold;
}

main {
    grid-area: main;
    width: 750px;
}

footer {
    grid-area: footer;
}
