* {
	/*font-family: Helvetica, sans-serif;*/
}

html {
	height: 100%;
	width: 100%;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10rem auto auto 5rem;
	grid-template-areas: "nav" "information" "main" "footer";

	align-items: center;
	justify-items: center;

	margin: 1rem 3rem;

	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
	grid-area: nav;
	width: 50rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

nav button {
	width: 15rem;
	height: 4rem;

	padding: 0.3rem;

	color: #2c6460;
	font-weight: bold;
}

#information {
	grid-area: information;
	text-align: center;
	margin: 10px 10px;
	color: #2c6460;
}

#message-label {
	display: block;
}

main {
	grid-area: main;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	width: 95rem;
}

.export-option {
	width: 200px;
	height: 60px;
	padding: 10px 10px;
	margin: 5px;
	color: #2c6460;
    font-weight: bold;
}

.active {
	background-color: #666;
	color: white;
}


footer {
	grid-area: footer;
}

@media only screen and (max-width: 1480px) {
	body {
		grid-template-rows: auto auto auto auto auto;
		margin: 1rem;
	}

	nav {
		width: 28rem;
	}

	nav button {
		font-size: 0.7rem;
		height: 3.5rem;
	}

	#greeting {
		font-size: 16px;
	}

	main {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		width: 38rem;
	}

	footer {
		font-size: 12px;
	}
}

@media only screen and (max-width: 640px) {
	body {
		margin: 0.7rem;
	}

	nav {
		width: 23rem;
	}

	nav button {
		font-size: 0.7rem;
		height: 2.5rem;
	}
}
