body {
	display: grid;

	grid-template-columns: 100%;
	grid-template-rows: 150px auto 80px;
    grid-template-areas: "header" "main" "footer";

    justify-items: center;
    align-items: center;

	margin: 15px 50px;
	/* text-align: center; */
	font-size: 12px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    width: 750px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header button {
    /* position: relative; */
    width: 180px;
    height: 60px;
    padding: 15px 10px;
}

button a {
	text-decoration: none;
    color: black;
}

main {
    grid-area: main;
    width: 750px;
}

main h1 {
	color: aqua;
}

.row, .column {
    box-sizing: border-box;
}

/* source https://www.w3schools.com/howto/howto_js_list_grid_view.asp */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}


body footer {
    grid-area: footer;
}