* {
    /*font-family: Helvetica, sans-serif;*/
}

html {
    height: 100%;
    width: 100%;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10rem auto 5rem;
    grid-template-areas: "header" "main" "footer";

    justify-items: center;
    align-items: center;

    margin: 3rem;

    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;

    width: 45rem;

    text-align: center;
}

main {
    grid-area: main;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 44rem;
    height: 24rem;

    margin: 1rem auto;
    padding: 2rem 1rem;

    background-color: #ececec;
    border: 1px solid #2c6460;
}

h2 {
    font-size: 1.5rem;
    color: #2c6460;
}

h4 {
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

#registration {
    width: 19.5rem;
    height: 22.5rem;

    margin-left: 1rem;
}

#login {
    width: 19.5rem;
    height: 22.5rem;

    margin-right: 1rem;

    background-color: #2c6460;
}

#registration-heading, #login-heading {
    width: 18rem;
    height: 2rem;

    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#registration-heading {
    color: #2c6460;
}

#login-heading {
    color: white;
}

#registration-message, #login-message {
    display: block;
    padding: 7px;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: red;
}

input {
    box-sizing: border-box;
    display: block;
    width: 17.5rem;
    height: 2rem;
    margin: 1rem;
}

#register-button {
    border: 3px solid #2c6460;

    color: #2c6460;

    font-size: 16px;
    font-weight: bold;
}

#register-button:hover {
    color: white;
    background-color: #2c6460;
}

#enter-button {
    border: 3px solid white;

    color: white;
    background-color: #2c6460;

    font-size: 16px;
    font-weight: bold;
}

#enter-button:hover {
    background-color: white;
    color: #2c6460;
}

footer {
    grid-area: footer;
    text-align: center;
}

@media only screen and (max-width: 890px) {
    body {
        grid-template-rows: auto auto auto;
        margin: 0.8rem;
    }

    header {
        width: 25rem;

        margin: 1rem 0;
    }

    main {
        flex-direction: column;

        width: 24rem;
        height: 50rem;

        padding: 0;
    }

    #registration {
        width: 20rem;

        margin-left: 0;
    }

    #login {
        width: 20rem;

        margin-right: 0;
    }

}