body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 150px auto auto 80px;
	grid-template-areas: "header" "information" "main" "footer";

	justify-items: center;
	align-items: center;

    margin: 15px 50px;

	font-size: 12px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	grid-area: header;
	width: 750px;
}

header nav {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

header button {
	width: 180px;
	height: 60px;
    padding: 5px 5px;
    color: #2c6460;
    font-weight: bold;
}

#information {
	grid-area: information;
	text-align: center;
    margin: 10px 10px;
    color: #2c6460;
}

#make-personal {
	width: 280px;
	height: 40px;
	padding: 10px 10px;
	color: #2c6460;
    font-weight: bold;
}

#messageLabel {
    display: block;
    font-size: 16pt;
}

main {
	grid-area: main;
	width: 770px;
}

.active {
	background-color: #666;
	color: white;
}

.event {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	height: 150px;
	margin: 10px 0px;
	background-color: #ececec;
	border: 2px solid black;
}

.details {
	margin: 5px 5px;
	width: 300px;
	border: 2px solid black;
    background-color: #2c6460;
}

.timeinfo {
	margin: 5px 5px;
	width: 400px;
	border: 2px solid black;
    background-color: #2c6460;
}

.preference {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
	margin: 5px 5px;
	border: 2px solid black;
    background-color: #2c6460;
}

p {
	padding-left: 15px;
    padding-right: 5px;
    color: white;
}

.presenter,
.date {
	font-size: 13px;
	font-weight: bold;
}

.theme {
	font-size: 14px;
	font-weight: bold;
}

.preferenceButton {
    width: 110px;
    height: 45px;
	margin: 5px 3px;
	padding: 5px 3px;
}

body footer {
	grid-area: footer;
}
